/*---- FONTE ----*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

$font-default: 'Lato', sans-serif;

/*--- CORES ----*/

$color-white: #ffffff;
$color-dark: #000000;
$color-primary: #191970;
$color-secondary: #4681b4;
$color-grey: #F9F9F9;
$color-green: #32b44a;
$color-yellow: #ffba3b;
$color-red: #e90000;