/*---- TRANSIÇÕES ----*/
@mixin transition( $transition... ) {
    transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    -moz-transition: $transition;
    -webkit-transition: $transition;
}

/*---- Transform ----*/
@mixin transform($transform...) {
    transform: $transform;
    -o-transform: $transform;
    -ms-transform: $transform;
    -webkit-transform: $transform;
}

/*---- Shadow ----*/
@mixin shadow($shadow...) {
    box-shadow: $shadow;
    -o-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
}

/*---- BACKGROUND GRADIENTE ----*/
@mixin gradientAzul() {
    background: rgb(25,25,112);
    background: linear-gradient(149deg,
                rgba(25,25,112, 1) 0%,
                rgba(61,61,191, 1) 50%,
                rgba(70,129,180, 1) 100%
    );
}

/*---- RESPONSIVO ----*/
@mixin resp($screen) {

    @if $screen==mobile {
        @media (min-width: 300px) and (max-width:600px) {
            @content;
        }
    }

    @else if $screen==tablet {
        @media (min-width: 600px) and (max-width: 768px) {
            @content;
        }
    }

    @else if $screen==notebook {
        @media (min-width: 768px) and (max-width: 992px) {
            @content;
        }
    }

    @else if $screen==desktop {
        @media (min-width: 1200px) {
            @content;
        }
    }
}