@import "pointcom-variables";
@import "pointcom-mixins";

/*---- GERAL ----*/
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

img,
iframe {
  max-width: 100%;
}

body {
  font-family: $font-default;
}

a:hover {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background: $color-grey;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  @include gradientAzul();
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: $color-dark;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

::-moz-selection {
  background-color: $color-primary;
  color: $color-white;
}

.container {
  max-width: 1243px;
  overflow: hidden;
}

.bg-grey {
  background-color: $color-grey;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.divisor {
  width: 100%;
  min-height: 3px;
  height: 3px;
  @include gradientAzul();
}

.titulos {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-primary;
  position: relative;

  &::after {
    content: "";
    width: 20%;
    border-bottom: 1px solid;
    border-color: $color-primary;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  span {
    font-size: 1.3rem;
    font-weight: 300;
    margin-left: 8px;
    position: relative;
  }

  @include resp(mobile) {
    font-size: 1rem;

    span {
      font-size: 0.975rem;
    }
  }
}

/*---- ANIMAÇÃO ----*/
[data-anime] {
  opacity: 0;
  @include transition(all 0.4s);
}

[data-anime="left"] {
  transform: translate3d(-100px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(100px, 0, 0);
}

[data-anime="top"] {
  transform: translate3d(0, -100px, 0);
}

[data-anime="bottom"] {
  transform: translate3d(0, 100px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.btn-acessar {
  cursor: pointer;
  display: inline-block;
  border: 1px solid;
  border-color: $color-primary;
  font-size: 0.7rem;
  padding: 10px 30px;
  text-transform: uppercase;
  color: $color-primary;
  cursor: pointer;
  background: transparent;

  @include transition(all 0.3s);

  &:hover {
    text-decoration: none;
    background-color: $color-primary;
    color: $color-white;
    @include transition(all 0.3s);
  }
}
.btn-front {
  background: #56b748;
  color: $color-white;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.btn-gplus {
  cursor: pointer;
  font-size: 13px;
  border: 0;
  background-color: #da4835;
  color: $color-white;
  text-transform: none;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: auto;
  padding: 0 15px;
  height: 38px;
  margin: 0 15px;

  i {
    margin-left: 10px;
  }

  &:hover {
    color: $color-white;
  }
}

.btn-facebook {
  cursor: pointer;
  border: 0;
  font-size: 13px;
  background-color: #4a6ea8;
  color: $color-white;
  text-transform: none;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  height: 38px;
  padding: 0 15px;
  width: auto;
  margin: 0 10px;

  i {
    margin-left: 10px;
  }

  &:hover {
    color: $color-white;
  }
}

.btn-sucesso {
  display: inline-flex;
  border: 1px solid;
  border-color: $color-green;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 10px 30px;
  text-transform: uppercase;
  color: $color-green;
  cursor: pointer;

  @include transition(all 0.3s);

  &:hover {
    text-decoration: none;
    background-color: $color-green;
    color: $color-white;
    @include transition(all 0.3s);
  }
}

.btn-inverse {
  display: inline-flex;
  border: 1px solid;
  border-color: $color-red;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 10px 30px;
  text-transform: uppercase;
  color: $color-red;
  cursor: pointer;

  @include transition(all 0.3s);

  &:hover {
    text-decoration: none;
    background-color: $color-red;
    color: $color-white;
    @include transition(all 0.3s);
  }
}

/*---- HEADER ----*/
header {
  background-color: $color-white;
}

.subheader {
  background-color: $color-grey;
  padding: 5px 0;

  .box-subheader {
    &:nth-child(1) {
      margin-top: 5px;
    }
    .link {
      color: $color-dark;
      font-size: 0.8rem;
      &:hover {
        text-decoration: none;
      }
    }

    button {
      margin-right: 10px;
      margin-bottom: 0 !important;
    }

    .formulario-header {
      justify-content: flex-end;
    }
  }

  @include resp(mobile) {
    .box-subheader {
      &:nth-child(2) {
        text-align: center;
      }

      &:nth-child(1) {
        display: none;
      }

      .btn-acessar {
        margin-top: 5px;
      }

      .form-inline {
        justify-content: center;
      }
    }
  }
}

.page404 {
  padding: 100px 0;

  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 50px;
  }

  form {
    input {
      border-radius: 0;
      width: 500px !important;
      margin-right: 10px;
      height: 50px;
    }

    button {
      height: 50px;
    }
  }

  @include resp(mobile) {
    padding: 50px 0;
    h2 {
      font-size: 1em;
      margin-bottom: 20px;
    }

    form {
      input {
        width: 255px !important;
      }
    }
  }
}

.cabecalho {
  padding: 30px 0px;
  border-bottom: 1px solid;
  border-color: $color-grey;

  p {
    margin: 15px 0 0 0;
    font-weight: 300;
    font-size: 0.875rem;
  }
  .box-logado {
    text-align: right;
  }

  .pointcom-link {
    color: $color-dark;
    padding: 0px 5px;
    margin: 0;
    font-weight: 700;
  }

  .pointcom-link-close {
    color: $color-white;
    margin: 0;
    background-color: $color-red;
    padding: 10px;
  }

  @include resp(mobile) {
    text-align: center;

    .container {
      overflow: inherit;
    }

    .logotipo {
      img {
        max-width: 150px;
      }
    }

    .box-logado {
      margin-top: 20px;
      text-align: center;
    }
  }
}

.menuPrincipal {
  background-color: $color-grey;
  .navbar {
    padding: 0;
  }

  .pointcom-menu {
    .nav-item {
      @include transition(all 0.3s);

      &:hover {
        background-color: $color-primary;
        @include transition(all 0.3s);

        .nav-link {
          color: $color-white;
        }
      }
    }
    .active {
      background-color: $color-primary;

      .nav-link {
        color: $color-white;
      }
    }
    .nav-link {
      padding: 15px 30px;
    }
  }

  @include resp(mobile) {
    .container {
      padding: 0;
    }

    .navbar-toggler {
      border: 0;

      i {
        color: $color-primary;
      }
    }
  }
}

@include resp(mobile) {
  .hide-mobile {
    display: none;
  }
}
a.link-forgout {
  font-size: 0.8rem;
  color: #333;
  margin-left: 8%;
}

.form-header {
  input {
    border-radius: 0;
    height: 40px;
  }

  @include resp(mobile) {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
  }

  button {
    margin-right: 10px;
  }
}

/*---- SEÇÕES ----*/
.busca-cursos {
  padding: 15px 0px 30px 0px;
  background-color: $color-primary;
  text-align: center;
  color: $color-white;

  ::placeholder {
    color: $color-white;
  }

  h1 {
    font-weight: 300;
    font-size: 1.5rem;
  }

  .pointcom-formulario {
    margin-top: 20px;
    position: relative;
    input[type="search"] {
      border-radius: 0;
      border: 0;
      background: rgba(255, 255, 255, 0.2);
      height: 50px;
      color: $color-white;

      &:focus {
        color: $color-white;
      }
    }

    .result-search {
      display: none;
      border-top: 1px solid;
      border-color: $color-secondary;
      background-color: $color-white;
      text-align: left;
      position: absolute;
      width: 95%;
      z-index: 1;
      box-shadow: 0px 4px 8px $color-dark;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          text-align: center;

          a {
            padding: 15px;
            display: flex;
            color: $color-primary;
            @include transition(all 0.3s);
            &:hover {
              background-color: $color-primary;
              color: $color-white;
              text-decoration: none;
              @include transition(all 0.3s);
            }
          }
        }
      }
    }
  }
  .btn-search {
    position: absolute;
    right: 15px;
    top: 0;
    background: transparent;
    border: 0;
    color: $color-white;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  @include resp(mobile) {
  }
}

/*---- LISTAGEM DE PRODUTOS ----*/
.produtos-list {
  padding: 30px 0px;

  .box-cursos {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border: 1px solid;
    border-color: $color-grey;
    @include transition(all 0.3s);

    .box-imagem-cursos {
      position: relative;
      overflow: hidden;

      img {
        max-width: 100%;
        @include transition(all 0.3s);
      }

      &:hover img {
        @include transform(scale(1.1));
      }

      span {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $color-green;
        color: $color-white;
        width: 50%;
        text-align: center;
        padding: 5px 0px;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 500;
      }

      .clock-course {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        text-align: center;
        color: $color-white;
        @include gradientAzul();
        padding: 5px 0px;
        margin: 0;
        font-size: 0.8rem;
        i {
          margin-right: 5px;
        }
      }
    }

    .selo {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1rem;
      font-weight: 500;
    }

    .box-content-cursos {
      padding: 15px 0px 0px 15px;
      min-height: 100px;
      a {
        color: $color-primary;
        &:hover {
          text-decoration: none;
        }
      }
      h2 {
        font-size: 1.2rem;
        font-weight: 500;
      }
      .categorias {
        color: $color-secondary;
        margin-bottom: 5px;
        display: inline-flex;
      }
    }
    .footer-box-cursos {
      text-align: center;
      position: relative;
    }
    &:hover {
      box-shadow: 0px 6px 10px $color-grey;
      @include transition(all 0.3s);
    }
  }
}

.box-btn-vermais {
  text-align: center;
  border-top: 1px solid;
  border-color: $color-grey;
  padding: 15px 0;
}

/*---- PÁGINAS ----*/
.title-page {
  background-color: $color-primary;
  color: $color-white;
  padding: 50px 0px;
  text-align: center;
  h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
  }
  a {
    margin: 10px 0px 0px 0px;
    color: $color-grey;
    display: inline-flex;
    font-size: 0.8rem;
    &:hover {
      text-decoration: none;
    }
  }
}

.title-page-course {
  background-color: $color-primary;
  color: $color-white;
  padding: 30px 0px 15px 0px;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    padding: 15px 0;

    li {
      list-style: none;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 0.7rem;

      a {
        color: $color-grey;
        font-size: 0.7rem;
        @include transition(all 0.3s);

        &:hover {
          text-decoration: none;
          @include transition(all 0.3s);
        }
        &::after {
          display: inline-block;
          content: "»";
          margin: 0px 5px;
        }
      }
    }
  }
}

/*---- CONTENT SINGLE COURSES ----*/
.content-course {
  padding: 30px 0px;
  .box-title-course {
    border-bottom: 1px solid;
    border-color: $color-grey;

    h2 {
      font-size: 1.2rem;
      font-weight: 300;
      margin: 0;
    }

    p {
      margin: 5px 0px;
      font-weight: 600;
    }

    i {
      color: $color-yellow;
    }
  }
  .content {
    padding: 30px 0px;
    .imagem {
      margin: 0px 0px 30px 0px;
    }
  }
  .box-conteudo {
    text-align: justify;

    .nav-tabs {
      border: 0;
      .nav-link {
        border: 0;
      }
    }

    .pointcom-tab {
      border-bottom: 2px dotted;
      border-color: $color-grey;
      height: 50px;
      margin-bottom: 20px;
      color: $color-primary;

      .arrow {
        display: inline-flex;
        margin-right: 5px;
        transform: translate3d(-15px, 0px, 0px);
        opacity: 0;
        @include transition(all 0.3s ease);
        &:hover {
          opacity: 1;
          transform: translate3d(0px, 0px 0px);
          @include transition(all 0.3s ease);
        }
      }

      a {
        color: $color-primary;
        font-weight: 300;
      }

      .active {
        font-weight: 600;

        .arrow {
          opacity: 1;
          transform: translate3d(0px, 0px, 0px);
          @include transition(all 0.3s ease);
        }
      }

      .nav-item {
        font-size: 0.875rem;

        .nav-link {
          padding: 5px;
        }
      }
    }

    .pointcom-tab-content {
      h1 {
        font-weight: 600;
        font-size: 1.5rem;
        margin: 0px 0px 15px 0px;
        color: $color-primary;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;

          a {
            display: flex;
            padding: 10px 15px;
            @include transition(all 0.3s);
            color: $color-dark;
            font-weight: 300;

            &:hover {
              background-color: $color-primary;
              color: $color-white;
              @include transition(all 0.3s);
            }
          }
        }
      }
    }
  }
  .box-sideInfo {
    background-color: $color-grey;
    padding: 15px;
    margin-bottom: 30px;

    .pointcom-line {
      padding: 10px 0px;
      border-bottom: 1px dashed;
      border-color: $color-primary;

      i {
        color: $color-yellow;
      }

      span {
        color: $color-red;
      }
    }

    .title-sideInfo {
      font-size: 1.3rem;
      margin: 0 0 20px 0;
      font-weight: 700;
    }

    p {
      font-weight: 300;
    }

    .media {
      border-bottom: 1px dashed;
      border-color: $color-white;
      margin: 15px 0px;

      img {
        width: 64px;
        height: 64px;
      }

      .mt-0 {
        font-weight: 700;
        font-size: 0.9rem;
      }

      .media-body p {
        font-size: 0.875rem;
      }
    }
  }
}

/*---- LIST PAGE CATEGORY ----*/
.list-course-category {
  padding: 50px 0px;
  background-color: $color-white;

  .sidebar-category {
    background-color: $color-grey;
    margin-bottom: 30px;

    .title-sidebar-category {
      font-weight: 500;
      font-size: 1rem;
      text-transform: uppercase;
      margin: 0;
      padding: 15px;
      color: $color-white;
      background-color: $color-primary;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        a {
          display: flex;
          color: $color-primary;
          padding: 10px 15px;
          @include transition(all 0.3s);

          &:hover {
            background-color: $color-primary;
            color: $color-white;
            text-decoration: none;
            @include transition(all 0.3s);
          }
        }
        .ativo {
          background-color: $color-primary;
          color: $color-white;
        }
      }
    }
  }

  .content-category {
    margin-bottom: 30px;
    position: relative;
    @include transition(all 0.4s);

    &:hover {
      @include shadow(0px 0px 10px 2px $color-grey);
    }
  }

  .box-info-course-category {
    padding: 15px;
    min-height: 214px;
    position: relative;

    h1 {
      font-size: 1.3rem;
      font-weight: 600;
      margin: 0;
      color: $color-primary;
    }

    span i {
      font-size: 0.8rem;
      color: $color-yellow;
    }

    .description-course {
      font-size: 1rem;
      font-weight: 300;
      text-align: justify;
      min-height: 92px;
    }

    .box-btn {
      position: absolute;
      bottom: 0;
      text-align: right;
    }
  }

  @include resp(mobile) {
    .box-info-course-category {
      h1 {
        font-size: 1rem;
      }

      .box-btn {
        position: relative;
        text-align: center;
        margin-top: 20px;

        a {
          margin: 0 0 10px 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

/*---- CONTENT LOGIN ----*/
.content-login {
  padding: 50px 0px;
  .formularios {
    text-align: center;
    padding: 30px;
    border: 1px solid;
    border-color: $color-grey;
    &:hover {
      box-shadow: 0px 6px 8px $color-grey;
    }
    button {
      margin-right: 5px;
    }
    input {
      margin-bottom: 15px;
      height: 50px;
      border-radius: 0;
    }
    p {
      font-size: 0.8rem;
      margin-bottom: 20px;
    }
    .btn-gplus {
      font-size: 15px;
      font-weight: 300;
      background-color: #da4835;
      color: $color-white;
      border-color: transparent;
      text-transform: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 39px;
      height: 39px;
      padding: 0 !important;
    }
    .btn-facebook {
      font-size: 15px;
      font-weight: 300;
      background-color: #4a6ea8;
      color: $color-white;
      border-color: transparent;
      text-transform: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 39px;
      height: 39px;
      padding: 0 !important;
    }
  }
}

/*---- CERTIFICADO ----*/
.validar-certificado {
  padding: 50px 0px;

  .box-validar-certificado {
    text-align: center;

    form {
      input[type="text"] {
        text-align: center;
        font-weight: 300;
        height: 50px;
        border-radius: 0;

        &:focus {
          color: $color-primary;
          font-weight: 700;
        }
      }

      span {
        display: block;
        font-size: 0.785rem;
        font-weight: 500;
        line-height: 2rem;
        margin-bottom: 15px;
      }
    }
  }
}

.box-value-reviews {
  h1 {
    display: inline-flex;
    font-size: 2.5rem !important;
    margin: 0 !important;
  }

  .reviews-info {
    font-weight: 300;
    margin-left: 10px;
    display: inline-flex;
    font-size: 1rem;
  }

  .stars {
    color: $color-yellow;
    font-size: 1.6rem;

    span {
      display: inline-flex;
    }
  }
  .reviews {
    margin: 10px 0;
    background-color: $color-yellow;
    border-radius: 6px;
    padding-left: 5px;

    .number {
      display: inline-flex;
      font-size: 0.775rem !important;
      width: 18%;
    }

    .progress {
      display: inline-flex;
      width: 81.2%;
      margin: 0;
      height: 2rem;

      .progress-bar {
        text-align: left;
        background-color: $color-primary;
        padding: 5px;
      }
    }
  }

  @include resp(mobile) {
    .reviews {
      .number {
        width: 20%;
        display: inline-flex;
      }

      .progress {
        width: 78.9%;
        display: inline-flex;
      }
    }
  }
}

.box-comment {
  padding: 15px;
  margin-bottom: 30px;
  height: 133px;

  h2 {
    display: flex;
    font-size: 1rem;
    font-weight: 700;
  }

  p {
    font-size: 0.875rem;
    font-weight: 300;
  }

  .star {
    color: $color-yellow;
  }

  @include resp(mobile) {
    height: auto;
  }
}

/*--- FOOTER ----*/
footer {
  text-align: center; /*REMOVER*/
  padding: 30px 0px;
  background-color: $color-primary;
  color: $color-white;
  p {
    margin: 0;
  }

  .link-footer {
    color: $color-grey;
    @include transition(all 0.3s);
    font-size: 0.875rem;
    font-weight: 300;

    &:hover {
      color: $color-yellow;
      @include transition(all 0.3s);
    }
  }
}

.menu-rodape {
  margin: 0 0 20px 0;
  padding: 0;

  li {
    list-style: none;
    display: inline-flex;

    a {
      color: $color-grey;
      font-size: 1rem;
      padding: 0 15px;
    }
  }
}
.whatsapp-chat {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1;
  img {
    width: 60px;
  }
}

/*---- RETORNAR AO TOPO ----*/
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: $color-dark;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  display: none;
  @include transition(all 0.3s);
  z-index: 999;
}

#return-to-top i {
  color: $color-white;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  @include transition(all 0.3s);
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
