@charset "UTF-8";
/*---- FONTE ----*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");
/*--- CORES ----*/
/*---- TRANSIÇÕES ----*/
/*---- Transform ----*/
/*---- Shadow ----*/
/*---- BACKGROUND GRADIENTE ----*/
/*---- RESPONSIVO ----*/
/*---- GERAL ----*/
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

img,
iframe {
  max-width: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

a:hover {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background: #F9F9F9;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: midnightblue;
  background: linear-gradient(149deg, midnightblue 0%, #3d3dbf 50%, #4681b4 100%);
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

::selection {
  background-color: #191970;
  color: #ffffff;
}

::-moz-selection {
  background-color: #191970;
  color: #ffffff;
}

.container {
  max-width: 1243px;
  overflow: hidden;
}

.bg-grey {
  background-color: #F9F9F9;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.divisor {
  width: 100%;
  min-height: 3px;
  height: 3px;
  background: midnightblue;
  background: linear-gradient(149deg, midnightblue 0%, #3d3dbf 50%, #4681b4 100%);
}

.titulos {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #191970;
  position: relative;
}
.titulos::after {
  content: "";
  width: 20%;
  border-bottom: 1px solid;
  border-color: #191970;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
.titulos span {
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 8px;
  position: relative;
}
@media (min-width: 300px) and (max-width: 600px) {
  .titulos {
    font-size: 1rem;
  }
  .titulos span {
    font-size: 0.975rem;
  }
}

/*---- ANIMAÇÃO ----*/
[data-anime] {
  opacity: 0;
  transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

[data-anime=left] {
  transform: translate3d(-100px, 0, 0);
}

[data-anime=right] {
  transform: translate3d(100px, 0, 0);
}

[data-anime=top] {
  transform: translate3d(0, -100px, 0);
}

[data-anime=bottom] {
  transform: translate3d(0, 100px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.btn-acessar {
  cursor: pointer;
  display: inline-block;
  border: 1px solid;
  border-color: #191970;
  font-size: 0.7rem;
  padding: 10px 30px;
  text-transform: uppercase;
  color: #191970;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.btn-acessar:hover {
  text-decoration: none;
  background-color: #191970;
  color: #ffffff;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.btn-front {
  background: #56b748;
  color: #ffffff;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.btn-gplus {
  cursor: pointer;
  font-size: 13px;
  border: 0;
  background-color: #da4835;
  color: #ffffff;
  text-transform: none;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: auto;
  padding: 0 15px;
  height: 38px;
  margin: 0 15px;
}
.btn-gplus i {
  margin-left: 10px;
}
.btn-gplus:hover {
  color: #ffffff;
}

.btn-facebook {
  cursor: pointer;
  border: 0;
  font-size: 13px;
  background-color: #4a6ea8;
  color: #ffffff;
  text-transform: none;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  height: 38px;
  padding: 0 15px;
  width: auto;
  margin: 0 10px;
}
.btn-facebook i {
  margin-left: 10px;
}
.btn-facebook:hover {
  color: #ffffff;
}

.btn-sucesso {
  display: inline-flex;
  border: 1px solid;
  border-color: #32b44a;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 10px 30px;
  text-transform: uppercase;
  color: #32b44a;
  cursor: pointer;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.btn-sucesso:hover {
  text-decoration: none;
  background-color: #32b44a;
  color: #ffffff;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.btn-inverse {
  display: inline-flex;
  border: 1px solid;
  border-color: #e90000;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 10px 30px;
  text-transform: uppercase;
  color: #e90000;
  cursor: pointer;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.btn-inverse:hover {
  text-decoration: none;
  background-color: #e90000;
  color: #ffffff;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

/*---- HEADER ----*/
header {
  background-color: #ffffff;
}

.subheader {
  background-color: #F9F9F9;
  padding: 5px 0;
}
.subheader .box-subheader:nth-child(1) {
  margin-top: 5px;
}
.subheader .box-subheader .link {
  color: #000000;
  font-size: 0.8rem;
}
.subheader .box-subheader .link:hover {
  text-decoration: none;
}
.subheader .box-subheader button {
  margin-right: 10px;
  margin-bottom: 0 !important;
}
.subheader .box-subheader .formulario-header {
  justify-content: flex-end;
}
@media (min-width: 300px) and (max-width: 600px) {
  .subheader .box-subheader:nth-child(2) {
    text-align: center;
  }
  .subheader .box-subheader:nth-child(1) {
    display: none;
  }
  .subheader .box-subheader .btn-acessar {
    margin-top: 5px;
  }
  .subheader .box-subheader .form-inline {
    justify-content: center;
  }
}

.page404 {
  padding: 100px 0;
}
.page404 h2 {
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 50px;
}
.page404 form input {
  border-radius: 0;
  width: 500px !important;
  margin-right: 10px;
  height: 50px;
}
.page404 form button {
  height: 50px;
}
@media (min-width: 300px) and (max-width: 600px) {
  .page404 {
    padding: 50px 0;
  }
  .page404 h2 {
    font-size: 1em;
    margin-bottom: 20px;
  }
  .page404 form input {
    width: 255px !important;
  }
}

.cabecalho {
  padding: 30px 0px;
  border-bottom: 1px solid;
  border-color: #F9F9F9;
}
.cabecalho p {
  margin: 15px 0 0 0;
  font-weight: 300;
  font-size: 0.875rem;
}
.cabecalho .box-logado {
  text-align: right;
}
.cabecalho .pointcom-link {
  color: #000000;
  padding: 0px 5px;
  margin: 0;
  font-weight: 700;
}
.cabecalho .pointcom-link-close {
  color: #ffffff;
  margin: 0;
  background-color: #e90000;
  padding: 10px;
}
@media (min-width: 300px) and (max-width: 600px) {
  .cabecalho {
    text-align: center;
  }
  .cabecalho .container {
    overflow: inherit;
  }
  .cabecalho .logotipo img {
    max-width: 150px;
  }
  .cabecalho .box-logado {
    margin-top: 20px;
    text-align: center;
  }
}

.menuPrincipal {
  background-color: #F9F9F9;
}
.menuPrincipal .navbar {
  padding: 0;
}
.menuPrincipal .pointcom-menu .nav-item {
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.menuPrincipal .pointcom-menu .nav-item:hover {
  background-color: #191970;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.menuPrincipal .pointcom-menu .nav-item:hover .nav-link {
  color: #ffffff;
}
.menuPrincipal .pointcom-menu .active {
  background-color: #191970;
}
.menuPrincipal .pointcom-menu .active .nav-link {
  color: #ffffff;
}
.menuPrincipal .pointcom-menu .nav-link {
  padding: 15px 30px;
}
@media (min-width: 300px) and (max-width: 600px) {
  .menuPrincipal .container {
    padding: 0;
  }
  .menuPrincipal .navbar-toggler {
    border: 0;
  }
  .menuPrincipal .navbar-toggler i {
    color: #191970;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
}
a.link-forgout {
  font-size: 0.8rem;
  color: #333;
  margin-left: 8%;
}

.form-header input {
  border-radius: 0;
  height: 40px;
}
@media (min-width: 300px) and (max-width: 600px) {
  .form-header {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
  }
}
.form-header button {
  margin-right: 10px;
}

/*---- SEÇÕES ----*/
.busca-cursos {
  padding: 15px 0px 30px 0px;
  background-color: #191970;
  text-align: center;
  color: #ffffff;
}
.busca-cursos ::placeholder {
  color: #ffffff;
}
.busca-cursos h1 {
  font-weight: 300;
  font-size: 1.5rem;
}
.busca-cursos .pointcom-formulario {
  margin-top: 20px;
  position: relative;
}
.busca-cursos .pointcom-formulario input[type=search] {
  border-radius: 0;
  border: 0;
  background: rgba(255, 255, 255, 0.2);
  height: 50px;
  color: #ffffff;
}
.busca-cursos .pointcom-formulario input[type=search]:focus {
  color: #ffffff;
}
.busca-cursos .pointcom-formulario .result-search {
  display: none;
  border-top: 1px solid;
  border-color: #4681b4;
  background-color: #ffffff;
  text-align: left;
  position: absolute;
  width: 95%;
  z-index: 1;
  box-shadow: 0px 4px 8px #000000;
}
.busca-cursos .pointcom-formulario .result-search ul {
  margin: 0;
  padding: 0;
}
.busca-cursos .pointcom-formulario .result-search ul li {
  list-style: none;
  text-align: center;
}
.busca-cursos .pointcom-formulario .result-search ul li a {
  padding: 15px;
  display: flex;
  color: #191970;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.busca-cursos .pointcom-formulario .result-search ul li a:hover {
  background-color: #191970;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.busca-cursos .btn-search {
  position: absolute;
  right: 15px;
  top: 0;
  background: transparent;
  border: 0;
  color: #ffffff;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/*---- LISTAGEM DE PRODUTOS ----*/
.produtos-list {
  padding: 30px 0px;
}
.produtos-list .box-cursos {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border: 1px solid;
  border-color: #F9F9F9;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.produtos-list .box-cursos .box-imagem-cursos {
  position: relative;
  overflow: hidden;
}
.produtos-list .box-cursos .box-imagem-cursos img {
  max-width: 100%;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.produtos-list .box-cursos .box-imagem-cursos:hover img {
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.produtos-list .box-cursos .box-imagem-cursos span {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #32b44a;
  color: #ffffff;
  width: 50%;
  text-align: center;
  padding: 5px 0px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}
.produtos-list .box-cursos .box-imagem-cursos .clock-course {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  text-align: center;
  color: #ffffff;
  background: midnightblue;
  background: linear-gradient(149deg, midnightblue 0%, #3d3dbf 50%, #4681b4 100%);
  padding: 5px 0px;
  margin: 0;
  font-size: 0.8rem;
}
.produtos-list .box-cursos .box-imagem-cursos .clock-course i {
  margin-right: 5px;
}
.produtos-list .box-cursos .selo {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1rem;
  font-weight: 500;
}
.produtos-list .box-cursos .box-content-cursos {
  padding: 15px 0px 0px 15px;
  min-height: 100px;
}
.produtos-list .box-cursos .box-content-cursos a {
  color: #191970;
}
.produtos-list .box-cursos .box-content-cursos a:hover {
  text-decoration: none;
}
.produtos-list .box-cursos .box-content-cursos h2 {
  font-size: 1.2rem;
  font-weight: 500;
}
.produtos-list .box-cursos .box-content-cursos .categorias {
  color: #4681b4;
  margin-bottom: 5px;
  display: inline-flex;
}
.produtos-list .box-cursos .footer-box-cursos {
  text-align: center;
  position: relative;
}
.produtos-list .box-cursos:hover {
  box-shadow: 0px 6px 10px #F9F9F9;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.box-btn-vermais {
  text-align: center;
  border-top: 1px solid;
  border-color: #F9F9F9;
  padding: 15px 0;
}

/*---- PÁGINAS ----*/
.title-page {
  background-color: #191970;
  color: #ffffff;
  padding: 50px 0px;
  text-align: center;
}
.title-page h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}
.title-page a {
  margin: 10px 0px 0px 0px;
  color: #F9F9F9;
  display: inline-flex;
  font-size: 0.8rem;
}
.title-page a:hover {
  text-decoration: none;
}

.title-page-course {
  background-color: #191970;
  color: #ffffff;
  padding: 30px 0px 15px 0px;
}
.title-page-course h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}
.title-page-course ul {
  margin: 0;
  padding: 0;
  display: flex;
  padding: 15px 0;
}
.title-page-course ul li {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.7rem;
}
.title-page-course ul li a {
  color: #F9F9F9;
  font-size: 0.7rem;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.title-page-course ul li a:hover {
  text-decoration: none;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.title-page-course ul li a::after {
  display: inline-block;
  content: "»";
  margin: 0px 5px;
}

/*---- CONTENT SINGLE COURSES ----*/
.content-course {
  padding: 30px 0px;
}
.content-course .box-title-course {
  border-bottom: 1px solid;
  border-color: #F9F9F9;
}
.content-course .box-title-course h2 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
}
.content-course .box-title-course p {
  margin: 5px 0px;
  font-weight: 600;
}
.content-course .box-title-course i {
  color: #ffba3b;
}
.content-course .content {
  padding: 30px 0px;
}
.content-course .content .imagem {
  margin: 0px 0px 30px 0px;
}
.content-course .box-conteudo {
  text-align: justify;
}
.content-course .box-conteudo .nav-tabs {
  border: 0;
}
.content-course .box-conteudo .nav-tabs .nav-link {
  border: 0;
}
.content-course .box-conteudo .pointcom-tab {
  border-bottom: 2px dotted;
  border-color: #F9F9F9;
  height: 50px;
  margin-bottom: 20px;
  color: #191970;
}
.content-course .box-conteudo .pointcom-tab .arrow {
  display: inline-flex;
  margin-right: 5px;
  transform: translate3d(-15px, 0px, 0px);
  opacity: 0;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.content-course .box-conteudo .pointcom-tab .arrow:hover {
  opacity: 1;
  transform: translate3d(0px, 0px 0px);
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.content-course .box-conteudo .pointcom-tab a {
  color: #191970;
  font-weight: 300;
}
.content-course .box-conteudo .pointcom-tab .active {
  font-weight: 600;
}
.content-course .box-conteudo .pointcom-tab .active .arrow {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.content-course .box-conteudo .pointcom-tab .nav-item {
  font-size: 0.875rem;
}
.content-course .box-conteudo .pointcom-tab .nav-item .nav-link {
  padding: 5px;
}
.content-course .box-conteudo .pointcom-tab-content h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0px 0px 15px 0px;
  color: #191970;
}
.content-course .box-conteudo .pointcom-tab-content ul {
  margin: 0;
  padding: 0;
}
.content-course .box-conteudo .pointcom-tab-content ul li {
  list-style: none;
}
.content-course .box-conteudo .pointcom-tab-content ul li a {
  display: flex;
  padding: 10px 15px;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  color: #000000;
  font-weight: 300;
}
.content-course .box-conteudo .pointcom-tab-content ul li a:hover {
  background-color: #191970;
  color: #ffffff;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.content-course .box-sideInfo {
  background-color: #F9F9F9;
  padding: 15px;
  margin-bottom: 30px;
}
.content-course .box-sideInfo .pointcom-line {
  padding: 10px 0px;
  border-bottom: 1px dashed;
  border-color: #191970;
}
.content-course .box-sideInfo .pointcom-line i {
  color: #ffba3b;
}
.content-course .box-sideInfo .pointcom-line span {
  color: #e90000;
}
.content-course .box-sideInfo .title-sideInfo {
  font-size: 1.3rem;
  margin: 0 0 20px 0;
  font-weight: 700;
}
.content-course .box-sideInfo p {
  font-weight: 300;
}
.content-course .box-sideInfo .media {
  border-bottom: 1px dashed;
  border-color: #ffffff;
  margin: 15px 0px;
}
.content-course .box-sideInfo .media img {
  width: 64px;
  height: 64px;
}
.content-course .box-sideInfo .media .mt-0 {
  font-weight: 700;
  font-size: 0.9rem;
}
.content-course .box-sideInfo .media .media-body p {
  font-size: 0.875rem;
}

/*---- LIST PAGE CATEGORY ----*/
.list-course-category {
  padding: 50px 0px;
  background-color: #ffffff;
}
.list-course-category .sidebar-category {
  background-color: #F9F9F9;
  margin-bottom: 30px;
}
.list-course-category .sidebar-category .title-sidebar-category {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  padding: 15px;
  color: #ffffff;
  background-color: #191970;
}
.list-course-category .sidebar-category ul {
  margin: 0;
  padding: 0;
}
.list-course-category .sidebar-category ul li {
  list-style: none;
}
.list-course-category .sidebar-category ul li a {
  display: flex;
  color: #191970;
  padding: 10px 15px;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.list-course-category .sidebar-category ul li a:hover {
  background-color: #191970;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.list-course-category .sidebar-category ul li .ativo {
  background-color: #191970;
  color: #ffffff;
}
.list-course-category .content-category {
  margin-bottom: 30px;
  position: relative;
  transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
.list-course-category .content-category:hover {
  box-shadow: 0px 0px 10px 2px #F9F9F9;
  -o-box-shadow: 0px 0px 10px 2px #F9F9F9;
  -ms-box-shadow: 0px 0px 10px 2px #F9F9F9;
  -moz-box-shadow: 0px 0px 10px 2px #F9F9F9;
  -webkit-box-shadow: 0px 0px 10px 2px #F9F9F9;
}
.list-course-category .box-info-course-category {
  padding: 15px;
  min-height: 214px;
  position: relative;
}
.list-course-category .box-info-course-category h1 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  color: #191970;
}
.list-course-category .box-info-course-category span i {
  font-size: 0.8rem;
  color: #ffba3b;
}
.list-course-category .box-info-course-category .description-course {
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  min-height: 92px;
}
.list-course-category .box-info-course-category .box-btn {
  position: absolute;
  bottom: 0;
  text-align: right;
}
@media (min-width: 300px) and (max-width: 600px) {
  .list-course-category .box-info-course-category h1 {
    font-size: 1rem;
  }
  .list-course-category .box-info-course-category .box-btn {
    position: relative;
    text-align: center;
    margin-top: 20px;
  }
  .list-course-category .box-info-course-category .box-btn a {
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*---- CONTENT LOGIN ----*/
.content-login {
  padding: 50px 0px;
}
.content-login .formularios {
  text-align: center;
  padding: 30px;
  border: 1px solid;
  border-color: #F9F9F9;
}
.content-login .formularios:hover {
  box-shadow: 0px 6px 8px #F9F9F9;
}
.content-login .formularios button {
  margin-right: 5px;
}
.content-login .formularios input {
  margin-bottom: 15px;
  height: 50px;
  border-radius: 0;
}
.content-login .formularios p {
  font-size: 0.8rem;
  margin-bottom: 20px;
}
.content-login .formularios .btn-gplus {
  font-size: 15px;
  font-weight: 300;
  background-color: #da4835;
  color: #ffffff;
  border-color: transparent;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  padding: 0 !important;
}
.content-login .formularios .btn-facebook {
  font-size: 15px;
  font-weight: 300;
  background-color: #4a6ea8;
  color: #ffffff;
  border-color: transparent;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  padding: 0 !important;
}

/*---- CERTIFICADO ----*/
.validar-certificado {
  padding: 50px 0px;
}
.validar-certificado .box-validar-certificado {
  text-align: center;
}
.validar-certificado .box-validar-certificado form input[type=text] {
  text-align: center;
  font-weight: 300;
  height: 50px;
  border-radius: 0;
}
.validar-certificado .box-validar-certificado form input[type=text]:focus {
  color: #191970;
  font-weight: 700;
}
.validar-certificado .box-validar-certificado form span {
  display: block;
  font-size: 0.785rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 15px;
}

.box-value-reviews h1 {
  display: inline-flex;
  font-size: 2.5rem !important;
  margin: 0 !important;
}
.box-value-reviews .reviews-info {
  font-weight: 300;
  margin-left: 10px;
  display: inline-flex;
  font-size: 1rem;
}
.box-value-reviews .stars {
  color: #ffba3b;
  font-size: 1.6rem;
}
.box-value-reviews .stars span {
  display: inline-flex;
}
.box-value-reviews .reviews {
  margin: 10px 0;
  background-color: #ffba3b;
  border-radius: 6px;
  padding-left: 5px;
}
.box-value-reviews .reviews .number {
  display: inline-flex;
  font-size: 0.775rem !important;
  width: 18%;
}
.box-value-reviews .reviews .progress {
  display: inline-flex;
  width: 81.2%;
  margin: 0;
  height: 2rem;
}
.box-value-reviews .reviews .progress .progress-bar {
  text-align: left;
  background-color: #191970;
  padding: 5px;
}
@media (min-width: 300px) and (max-width: 600px) {
  .box-value-reviews .reviews .number {
    width: 20%;
    display: inline-flex;
  }
  .box-value-reviews .reviews .progress {
    width: 78.9%;
    display: inline-flex;
  }
}

.box-comment {
  padding: 15px;
  margin-bottom: 30px;
  height: 133px;
}
.box-comment h2 {
  display: flex;
  font-size: 1rem;
  font-weight: 700;
}
.box-comment p {
  font-size: 0.875rem;
  font-weight: 300;
}
.box-comment .star {
  color: #ffba3b;
}
@media (min-width: 300px) and (max-width: 600px) {
  .box-comment {
    height: auto;
  }
}

/*--- FOOTER ----*/
footer {
  text-align: center;
  /*REMOVER*/
  padding: 30px 0px;
  background-color: #191970;
  color: #ffffff;
}
footer p {
  margin: 0;
}
footer .link-footer {
  color: #F9F9F9;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  font-size: 0.875rem;
  font-weight: 300;
}
footer .link-footer:hover {
  color: #ffba3b;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.menu-rodape {
  margin: 0 0 20px 0;
  padding: 0;
}
.menu-rodape li {
  list-style: none;
  display: inline-flex;
}
.menu-rodape li a {
  color: #F9F9F9;
  font-size: 1rem;
  padding: 0 15px;
}

.whatsapp-chat {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1;
}
.whatsapp-chat img {
  width: 60px;
}

/*---- RETORNAR AO TOPO ----*/
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #000000;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  display: none;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  z-index: 999;
}

#return-to-top i {
  color: #ffffff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}